{% extends "onshop_core/acessar.html" %}
{% load i18n static %}

{% block campo-modal %}

        <form method="post" action="" role="login">{% comment %}Gambiarra para o design{% endcomment %}
            {% comment %}<img src="{% static "visa_registration/images/logo_visa_express.png" %}" class="img-responsive" alt="" />{% endcomment %}
            <p>A sua senha foi trocada com sucesso! Para acessar a sua conta com a nova senha, clique em <a href="{% url 'onshop_core:administrativo' %}">voltar à Página Principal</a>.</p>
        </form>

{% endblock campo-modal %}

