{% load static %}
<!DOCTYPE html>
<html lang="pt_br">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="OnShop">
        <meta name="author" content="OnShop">
        <title>OnShop</title>
        <link href="{% static "onshop_core/css/estilo.css" %}" rel="stylesheet">
    {% block stylesheet %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans" rel="stylesheet">
    {% endblock stylesheet %}
    {% block head_javascript %}
    {% endblock head_javascript %}
    </head>
    {% block body_sistema %}
    <body>
    {% endblock body_sistema %}
    {% block body %}
    <div id="container">
        <div id="header">
            <ul class="header_fluxo_pedido">
                <li class="circulo">1</li>
                <li class="nome_fluxo">Retirada</li>
                <li>&raquo;</li>
                <li class="circulo">2</li>
                <li>&raquo;</li>
                <li class="circulo">3</li>
                <li>&raquo;</li>
                <li class="circulo">4</li>
            </ul>
        </div>
        <div class="content fluxo_pedido">
            <div class="abas_entrega_retirada">
                <button class="btn_opcao ativo" onclick="OpenTab(event, 'entrega')">Entrega</button>
                <button class="btn_opcao" onclick="OpenTab(event, 'retirada')">Retirada</button>
            </div>
            <div id="entrega" class="resultado_abas">
                <form autocomplete="off" id="form_entrega" method='post'>
                    <p class="busca_endereco">{{ form.endereco }}</p>
                    <p class="resposta_entrega"></p>
                    <div class="forms_escondidos">
                        <p>{{ form.numero }} {{ form.numero.errors }}</p>
                        <p>{{ form.ed_apto_bloco }} {{ form.ed_apto_bloco.errors }}</p>
                        <p>{{ form.pto_referencia }} {{ form.pto_referencia.errors }}</p>
                    </div>
                    {% csrf_token %}


                <div id="map_canvas" class="mapa" ></div>
                <input type="submit" id="submit-form" class="hidden" />
                </form>
            </div>
            <div id="retirada" class="resultado_abas" style="display:none">
                <p class="endereco">{{ estabelecimento.endereco }}</p>
                <p class="endereco_mais">{{ estabelecimento.endereco_mais }}</p>
                <p class="condicoes">Funcionamento de {{ estabelecimento.horario_abertura|date:"H:i" }} as {{ estabelecimento.horario_fechamento|date:"H:i" }}.</p>
            </div>
        </div>
        <div id="footer">
            <div id="container_compra">
                <div class="botao_voltar_tela">
                    <a href="{% url 'onshop_core:cardapio_inicial' %}">Voltar</a>
                </div>
                <div class="botao_fechar_pedido">
                </div>
            </div>
        </div>
    </div><!-- Fim de Container -->
    {% endblock body %}
    {% block javascript_base %}
    <script src="{% static "onshop_core/js/jquery.min.js" %}"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAs9oVdjXwBRIqjqdgvLpfTXTfeRhmRy6U&libraries=places&language=pt-BR&callback=initialize" type="text/javascript"></script>
    <!--<script src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places&language=pt-BR" type="text/javascript"></script> -->

    <script type="text/javascript">
jQuery(document).ajaxSend(function(event, xhr, settings) {
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    function sameOrigin(url) {
        // url could be relative or scheme relative or absolute
        var host = document.location.host; // host + port
        var protocol = document.location.protocol;
        var sr_origin = '//' + host;
        var origin = protocol + sr_origin;
        // Allow absolute or scheme relative URLs to same origin
        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
            (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
            // or any other URL that isn't scheme relative or absolute i.e relative.
            !(/^(\/\/|http:|https:).*/.test(url));
    }
    function safeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
    }
});
</script>
<script type="text/javascript">
function initialize() {
    var aux_estado = aux_cidade = aux_bairro = aux_cep = aux_numero = aux_logradouro = '';
    var aux_lat = aux_lng = '';
    var mapOptions = {
        center: new google.maps.LatLng(-14.235004, -51.92528),//{lat:-33, lng:151},//
        zoom: 4,
        //mapTypeId: google.maps.MapTypeId.ROADMAP,
        //types: "all" 
        disableDefaultUI: true
        };
    var map = new google.maps.Map(document.getElementById('map_canvas'),
        mapOptions);
    google.maps.event.addDomListener(window, 'resize', function(){
        var center = map.getCenter();
        google.maps.event.trigger(map, 'resize');
        map.setCenter(center);
    });
    //console.log(map);
    var input = document.getElementById('searchTextField');
    var autocomplete = new google.maps.places.Autocomplete(input);
        autocomplete.bindTo('bounds', map);
    var infowindow = new google.maps.InfoWindow();
    var marker = new google.maps.Marker({
        map: map
    });
    google.maps.event.addListener(autocomplete, 'place_changed', function() {
        infowindow.close();
        var place = autocomplete.getPlace();
                  // If the place has a geometry, then present it on a map.
          if (place.geometry.viewport) {
            map.fitBounds(place.geometry.viewport);
          } else {
            map.setCenter(place.geometry.location);
            map.setZoom(17);  // Why 17? Because it looks good.
          }
          marker.setPosition(place.geometry.location);
          marker.setVisible(true);

        aux_lat = place.geometry.location.lat();
        aux_lng = place.geometry.location.lng();
        aux_endereco_completo = place.formatted_address;
        //console.log(aux_endereco_completo);
        var image = new google.maps.MarkerImage(
            place.icon,
            new google.maps.Size(71, 71),
            new google.maps.Point(0, 0),
            new google.maps.Point(17, 34),
            new google.maps.Size(35, 35));
            marker.setIcon(image);
            marker.setPosition(place.geometry.location);
            var address = '';
              if (place.address_components) {
                address = [
                  (place.address_components[0] && place.address_components[0].short_name || ''),
                  (place.address_components[1] && place.address_components[1].short_name || ''),
                  (place.address_components[2] && place.address_components[2].short_name || '')
                ].join(' ');
              }
            //console.log(place.address_components);
            var len = place.address_components.length;
            for(var i=0; i<len; i++) {
                var len_int = place.address_components[i].types.length;
                for(var j=0; j<len_int; j++) {
                    if ( place.address_components[i].types[j] == 'sublocality_level_1' ){ //'sublocality' ){
                        aux_bairro = place.address_components[i].long_name;
                    }
                    if ( place.address_components[i].types[j] == 'administrative_area_level_2' ){
                        aux_cidade = place.address_components[i].long_name;
                    }
                    if ( place.address_components[i].types[j] == 'administrative_area_level_1' ){
                        aux_estado = place.address_components[i].short_name;
                        if (aux_estado == 'São Paulo'){//Trata bicheira no Google Places que não coloca short name no estado de São Paulo
                            aux_estado = 'SP';
                        }
                    }
                    if ( place.address_components[i].types[j] == 'country' ){
                        aux_pais = place.address_components[i].long_name;
                    }
                    if ( place.address_components[i].types[j] == 'postal_code' ){
                        aux_cep = place.address_components[i].long_name;
                    }
                    if ( place.address_components[i].types[j] == 'street_number' ){
                        aux_numero = place.address_components[i].long_name;
                    }
                    if ( place.address_components[i].types[j] == 'route' ){
                        aux_logradouro = place.address_components[i].long_name;
                    }
                }
            };
            //console.log(aux_bairro+ ', ' +aux_cidade);
            var group_data = {
                'id': {{ pedido.id }},
                'bairro': aux_bairro,
                'cidade': aux_cidade,
                'endereco': address
                };
            verifica_endereco(group_data);
    });
};
function verifica_endereco(group_data){
    //console.log(group_data.endereco);
    $.ajax({
        url: "{% url 'onshop_core:ver_entrega_pedido' %}",
        type: "get",
        data: {
            'id': group_data.id,
            'bairro':group_data.bairro,
            'cidade':group_data.cidade,
            'endereco':group_data.endereco
        },
        success: function(data){
            console.log(data);
            console.log(data.status);
            if(data.status == 'ok'){ //Retorno ok se endereço é viável
                $('.botao_fechar_pedido').html('<label for="submit-form" tabindex="0">Continuar</label>');
                $('.forms_escondidos').css("display", "block");
            }else{ // Retorno 0 de endereço não atendido 
                $('.resposta_entrega').css("display", "block");
                $('.resposta_entrega').html(data.product_snippet);
            };
            //console.log(group_data);
        },
        error: function(err){
            console.log('error', err);
        },
    });
document.getElementById('searchTextField').addEventListener('change', LimpaResposta);
function LimpaResposta(){
    document.getElementsByClassName('resposta_entrega')[0].style.display = 'none';
    document.getElementsByClassName('forms_escondidos')[0].style.display = 'none';
    document.getElementsByClassName('botao_fechar_pedido')[0].innerHTML = '';
};
}
//google.maps.event.addDomListener(window, 'load', initialize);

</script>
    {% endblock javascript_base %}
    <script>
        $('#form_entrega').submit(function(event) {
            event.preventDefault();
            //console.log('funfando');
            //Aqui entra o AJAX
            //var _this = $(this);
            //var id = _this.attr("js-produto-id");
            //var csrfmiddlewaretoken = $("[name=csrfmiddlewaretoken]").val();
            //console.log(csrfmiddlewaretoken);
            //console.log(id)
            var id = $('.produtoid').val();
            var formData = $('#form_entrega').serializeArray();
            formData = JSON.stringify(formData);
            //len = formData.length;
            //dataObj = {};
            //for(i=0; i<len; i++){
            //    dataObj[formData[i].name] = formData[i].value;
            //};
            $.ajax({
                url: '{% url 'onshop_core:receber_endereco' %}',
                type: "get",
                datatype: "json",
                data: {
                    'id': '{{ pedido.id }}',
                    'formData': formData
                },
                success: function(data){
                    //$('.modal_simples').css("display", "none");
                    //$('.modal-produto').html("");
                    //console.log(data);
                    //$('#footer').find('.quantidade').html("<a href='{% url 'onshop_core:ver_carrinho' %}'><p>" + data['quantidade'] + "</p><p>&nbsp;( R$ " + data['total']+" )</p></a>");
                    //console.log(data['produto']);
                    $(location).attr('href', '{% url 'onshop_core:contato' %}');
                },
                error: function(err){
                    console.log('error', err);
                }
            })
        });
    </script>
    {% block tail_javascript %}
    <script>
    function OpenTab(evt, nomeaba) {
    var i;
    var x = document.getElementsByClassName("resultado_abas");
        for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("btn_opcao");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" ativo", "");
    }
    document.getElementById(nomeaba).style.display = "block";
    if (nomeaba == 'retirada'){
        aba_retirada = document.getElementsByClassName("botao_fechar_pedido")[0];
        aba_retirada.innerHTML = "<a href=" + "{% url 'onshop_core:retirada' %}"+ ">Continuar</a>";
    };
    if (nomeaba == 'entrega'){
        aba_entrega = document.getElementsByClassName("botao_fechar_pedido")[0];
        aba_retirada.innerHTML = "";
        document.getElementsByClassName("forms_escondidos")[0].style.display = "none";
        document.getElementById("form_entrega").reset();
    };
    evt.currentTarget.className += " ativo";
    }
    </script>
    {% endblock tail_javascript %}
    {% block analytics %}
    {% endblock analytics %}
    </body>
</html>