{% extends "onshop_auto/painel_produtos_auto.html" %}

  {% block menu_admin %}
  <div class="navbar navbar-inverse" role="navigation">
      <div class="navbar-header">
        <div class="logo"><h1>OnShop - Painel de Administração</h1></div>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button> 
      </div>   
    </div>
    <div class="template-page-wrapper">
      <div class="navbar-collapse collapse templatemo-sidebar">
        <ul class="templatemo-sidebar-menu">
          <li><a href="{% url 'onshop_core:administrativo' %}"><i class="fa fa-home"></i>Painel</a></li>
          <li class="sub open">
          <a href="javascript:;">
          <i class="fa fa-glass"></i>Pedidos <div class="pull-right"><span class="caret"></span>
          </div>
            </a>
            <ul class="templatemo-submenu">
              <li><a href="{% url 'onshop_auto:novos_pedidos_auto' %}">Novos Pedidos ({{ qtde_novos_pedidos }})</a></li>
              <li><a href="{% url 'onshop_auto:pedidos_andamento' %}">Em Andamento ({{ qtde_pedidos_andamento }})</a></li>
              <li><a href="{% url 'onshop_auto:pedidos_finalizados' %}">Entregues ({{ qtde_pedidos_finalizados}}) </a></li>
              <li><a href="{% url 'onshop_auto:ver_comandas' %}">Comandas</a></li>
              {% comment %}<li><a href="{% url 'onshop_core:relatorio' %}">Relatórios</a></li>{% endcomment %}
            </ul>
          </li>
          <li class="sub">
          <a href="javascript:;">
          <i class="fa fa-cutlery" aria-hidden="true"></i>Mesas <div class="pull-right"><span class="caret"></span>
          </div>
            </a>
            <ul class="templatemo-submenu">
              <li><a href="{% url 'onshop_auto:ver_mesas_abertas' %}">Mesas Abertas</a></li>
              <li><a href="{% url 'onshop_auto:ver_mesas' %}">Novas Mesas</a></li>              
            </ul>
          </li>
          <li class="sub">
          <a href="javascript:;">
          <i class="fa fa-shopping-cart"></i> Produtos <div class="pull-right"><span class="caret"></span></div>
            </a>
            <ul class="templatemo-submenu">
              <li><a href="{% url 'onshop_auto:ver_categorias_auto' %}">Categorias</a></li>
              <li><a href="{% url 'onshop_auto:admin_autoatendimento' %}">Seus Produtos</a></li>
              <li><a href="{% url 'onshop_auto:ver_complementos_auto' %}">Complementos</a></li>
              <li><a href="{% url 'onshop_auto:ver_atributos_auto' %}">Atributos</a></li>
            </ul>
          </li>
          <li><a href="javascript:;" data-toggle="modal" data-target="#confirmModal"><i class="fas fa-sign-out-alt"></i>Sair</a></li>
        </ul>
      </div><!--/.navbar-collapse -->
      {% endblock menu_admin %}

      {% block content_admin %}
          <h1>Comandas Autoatendimento</h1>
          <p class="margin-bottom-15">Verifique as Comandas das mesas.</p>
          <div class="row margin-bottom-30">
            <div class="col-md-12">
              <ul class="nav nav-pills">
                <li class="active">
                  <a href="#">
                    Em aberto
                    <span class="badge">{{ pedidos|length }}</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          {% block 'area_form' %}
          <div class="row">
            <div class="col-md-12">
              <div class="btn-group pull-right" id="templatemo_sort_btn">
                <button type="button" class="btn btn-default">Ordenar por</button>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                  <span class="caret"></span>
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Número</a></li>
                  <li><a href="#">Mesa</a></li>
                </ul>
              </div>
              <div class="table-responsive">
                <h4 class="margin-bottom-15">Novos Pedidos</h4>
                <table class="table table-striped table-hover table-bordered">
                  <thead>
                    <tr>
                      <th>Comanda</th>
                      <th>Mesa</th>
                      <th>Status</th>
                      <th>Hora de Abertura</th>
                      <th>Hora de Fechamento</th>
                      <th>Total</th>
                      <th>Ação</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for comanda in comandas %}
                    <tr class="{% cycle '' 'success' %}">
                      <td>{{ comanda.id }}</td>
                      <td>{{ comanda.mesa.numero_mesa }}</td>
                      <td>
                        {% for choice in comanda.STATUS_COMANDA %}
                          {% ifequal comanda.status choice.0 %}
                            {{ choice.1 }}
                          {% endifequal %}
                        {% endfor %}
                      </td>
                      <td>{{ comanda.hora_abertura|date:'H:i - d/m' }}</td>
                      <td>{{ comanda.hora_fechamento|date:'H:i - d/m' }}</td>
                      <td>R$ {{ comanda.total }}</td>
                      <td><a href="{% url 'onshop_auto:ver_pedidos_comanda' comanda.id %}" class="btn btn-default">Ver Pedidos</a></td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
          </div>
          {% endblock 'area_form' %}
        </div>
{% endblock content_admin %}
  