{% load static %}
<!DOCTYPE html>
<html lang="pt_br">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="OnShop">
        <meta name="author" content="OnShop">
        <title>OnShop</title>
        <link href="{% static "onshop_core/css/estilo.css" %}" rel="stylesheet">
        <link href="{% static "onshop_auto/css/auto_estilo.css" %}" rel="stylesheet">

    {% block stylesheet %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans" rel="stylesheet">
    {% endblock stylesheet %}
    {% block head_javascript %}
    {% endblock head_javascript %}
    </head>
    {% block body_sistema %}
    <body>
    {% endblock body_sistema %}
    {% block body %}
    <div id="container font_family_auto">
        <div id="header_auto_maior">
            <div class="cabecalho_auto">
                <div class="content_cabecalho">
                    <p class="est_nome">{{ estabelecimento.nome }}</p>
                    <div class="divider"></div>
                    <div class="divider"></div>
                    <div class="divider"></div>
                    <p class="mesa_icone"><img src="{% static "onshop_auto/images/mesa-icone.png" %}" /></p>
                    <p class="header_mesa">Mesa {{ mesa }}</p>
                </div>
                <div id="lista_categorias">
                    <ul>
                        <li class="selected">Carrinho</li>
                    </ul>
                </div>
                <div class="borda_branca"></div>
            </div>
            <div class="carrinho_tempo">
                <div class="divider"></div>
                <h2><a href="{% url 'onshop_auto:acessar_autoatendimento' %}"><img class="clear_icone"src="{% static "onshop_auto/images/clear-icone.png" %}" /></a></h2>
            </div>
        </div>
        <div class="content fluxo_pedido content_auto">
            <div class="abas_entrega_retirada">
                <button class="btn_opcao ativo" onclick="OpenTab(event, 'entrega')">Pedido</button>
                <button class="btn_opcao" onclick="OpenTab(event, 'retirada')">Meus detalhes</button>
            </div>
            <div id="entrega" class="resultado_abas pedido">
                {% for produto in pedido.produtos.all %}
                <div class="produto_pedido">
                    <p class="produto_quantidade">{{ produto.quantidade }} x</p>
                    <p class="nome_pedido">{{ produto.produto.nome }}</p>
                    <p class="preco_pedido">R$ {{ produto.total }}&nbsp;&nbsp;&nbsp;<a class="remover_pedido" href="{% url 'onshop_auto:remover_pedido' pedido.id produto.id %}"> </a></p>
                </div>
                {% endfor %}
                <!-- Não sei se isso aqui é necessário 
                <div class="subtotal">
                    <p>Subtotal</p>
                    <p>R$ 17,00</p>
                </div>-->
                <div class="total">
                    <p>Total</p>
                    <p>R$ {{ pedido.total }}</p>
                </div>

                

                <div class="informacoes">
                    <p>É possível cancelar um pedido clicando no X.</p>
                    <p>Para confirmar o pedido, aperte o botão Carrinho novamente.</p>
                </div>
            </div>
            <div id="retirada" class="resultado_abas detalhes" style="display:none">
                <p class="nome_detalhes">{{ pedido.comprador.nome }} - Mesa nº {{ comandasession.comanda.mesa.numero_mesa }}</p>
                <p class="telefone_detalhes">{{ pedido.comprador.telefone }} - {{ pedido.comprador.email }}</p>

                {% comment %}<p class="endereco_detalhes">
                    {% if pedido.retirada %}
                        {{ pedido.retirada.endereco }}
                        <div class="endereco_adicional">
                            <p>Nº {{ pedido.retirada.numero }} {{ pedido.retirada.ed_apto_bloco }}</p>
                            <p>{{ pedido.retirada.pto_referencia }}</p>
                        </div>
                    {% else %}
                        {{ estabelecimento.endereco }}
                    {% endif %}
                </p>
                <p class="pagamento_detalhes">{{ pedido.opcao_pagamento.forma }}</p>
                {% endcomment %}
            </div>
        </div>
        <div id="footer_auto">
            <div id="container_compra_auto" class="botoes_autoatendimento">
                <div class="btn_ajuda">
                    <a class="botao_help" js-comanda-id="{{ comanda }}" href="#"><img src="{% static "onshop_auto/images/ajuda-icone.png" %}" />Ajuda</a>
                </div>
                <div class="btn_fazer_pedido">
                    <a id="btn_analisa_pedido" href="#">
                        <div class="bck_pedir">
                            <img src="{% static "onshop_auto/images/carrinho-icone.png" %}" />
                        </div>
                        <div class="wd_pedir">Pedir</div>
                    </a>
                    {% if quantidade > 0 %}
                    <div class="qtde_compras"><p>{{ quantidade }}</p></div>
                    {% else %}
                    <div class="qtde_compras" style="display: none"><p>{{ quantidade }}</p></div>
                    {% endif %}
                </div>               
                <div class="btn_conta">
                    <a class="botao_conta" js-comanda-id="{{ comanda }}" href="#"><img src="{% static "onshop_auto/images/conta-icone.png" %}" />Conta</a>
                </div>
            {% comment %}    
            <div id="container_compra">
                <div class="botao_voltar_tela">
                    <a href="{% url 'onshop_auto:acessar_autoatendimento' %}">Voltar</a>
                </div>
                <div class="botao_fechar_pedido">
                    <label for="submit-form" tabindex="0">Continuar</label>
                </div>
            </div>
            {% endcomment %}
        </div>
    </div><!-- Fim de Container -->

    {% endblock body %}
    {% block javascript_base %}
    {% endblock javascript_base %}
    {% block tail_javascript %}
    <script>
    function OpenTab(evt, nomeaba) {
    var i;
    var x = document.getElementsByClassName("resultado_abas");
        for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("btn_opcao");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" ativo", "");
    }
    document.getElementById(nomeaba).style.display = "block";
    evt.currentTarget.className += " ativo";
    }
    </script>
    {% endblock tail_javascript %}
    {% block analytics %}
    {% endblock analytics %}
    </body>
</html>