{% load static %}
<!DOCTYPE html>
<html lang="pt_br">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="OnShop">
        <meta name="author" content="OnShop">
        <title>OnShop</title>
        <link href="{% static "onshop_core/css/estilo.css" %}" rel="stylesheet">
        <link href="{% static "onshop_auto/css/auto_estilo.css" %}" rel="stylesheet">
    {% block stylesheet %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans" rel="stylesheet">
    {% endblock stylesheet %}
    {% block head_javascript %}
    {% endblock head_javascript %}
    </head>
    {% block body_sistema %}
    <body>
    {% endblock body_sistema %}
    {% block body %}
    <div id="container">
        <div id="header_auto_maior">
            <div class="cabecalho_auto">
                <div class="content_cabecalho">
                    <p class="est_nome">{{ estabelecimento.nome }}</p>
                    <div class="divider"></div>
                    <div class="divider"></div>
                    <div class="divider"></div>
                    <p class="mesa_icone"><img src="{% static "onshop_auto/images/mesa-icone.png" %}" /></p>
                    <p class="header_mesa">Mesa {{ mesa }}</p>
                </div>
                <div id="lista_categorias">
                    <ul>
                        <li class="selected">Contato</li>
                    </ul>
                </div>
                <div class="borda_branca"></div>
            </div>
            <div class="carrinho_tempo">
                <div class="divider"></div>
                <h2><a href="{% url 'onshop_auto:acessar_autoatendimento' %}"><img class="clear_icone"src="{% static "onshop_auto/images/clear-icone.png" %}" /></a></h2>
            </div>
        </div>
        
        <div class="content contato content_auto">
            <form method="post">    
                {% csrf_token %}
                {% comment %}
                <label for="Nome">Nome</label>
                {{ form.nome }}
                {{ form.nome.errors }}
                <label for="Telefone">Telefone</label>
                {{ form.telefone }}
                {{ form.telefone.errors }}
                <label for="E-mail">E-mail</label>
                {{ form.email }}
                {{ form.email.errors }}
                {% endcomment %}
                {{ form }}
                <input type="submit" id="submit-form" class="hidden" />
            </form>
            <div class="informacoes">
                <p>O seu contato é pedido somente essa vez.</p>
                <p>Após completar o formulário, aperte o Carrinho novamente.</p>
            </div>
        </div>

        <div id="footer_auto">
            <div id="container_compra_auto" class="botoes_autoatendimento">
                <div class="btn_ajuda">
                    <a class="botao_help" js-comanda-id="{{ comanda }}" href="#"><img src="{% static "onshop_auto/images/ajuda-icone.png" %}" />Ajuda</a>
                </div>
                <div class="btn_fazer_pedido">
                    <div class="bck_pedir">
                        <label for="submit-form" tabindex="0"><img src="{% static "onshop_auto/images/carrinho-icone.png" %}" /></label>      
                    </div>
                    <div class="wd_pedir">Pedir</div>
                </div>
                <div class="btn_conta">
                    <a class="botao_conta" js-comanda-id="{{ comanda }}" href="#"><img src="{% static "onshop_auto/images/conta-icone.png" %}" />Conta</a>
                </div>
            {% comment %}    
            <div id="container_compra">
                <div class="botao_voltar_tela">
                    <a href="{% url 'onshop_auto:acessar_autoatendimento' %}">Voltar</a>
                </div>
                <div class="botao_fechar_pedido">
                    <label for="submit-form" tabindex="0">Continuar</label>
                </div>
            </div>
            {% endcomment %}
        </div>
        
    </div><!-- Fim de Container -->

    {% endblock body %}
    {% block javascript_base %}
    {% endblock javascript_base %}
    {% block tail_javascript %}
    <script>
    function OpenTab(evt, nomeaba) {
    var i;
    var x = document.getElementsByClassName("resultado_abas");
        for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("btn_opcao");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" ativo", "");
    }
    document.getElementById(nomeaba).style.display = "block";
    evt.currentTarget.className += " ativo";
    }
    </script>
    {% endblock tail_javascript %}
    {% block analytics %}
    {% endblock analytics %}
    </body>
</html>