{% extends "onshop_auto/mesas.html" %}


          
          {% block 'area_form' %}
          <div class="row">
            <div class="col-md-12">
            <form role="form" id="templatemo-preferences-form" method="post" enctype="multipart/form-data">
              <div class="row">
                <div class="col-md-12 margin-bottom-15">
                  <label for="{{ form.resposta.id_for_label }}" class="control-label">Mesa</label>
                  {{ form.numero_mesa }}
                  {{ form.numero_mesa.errors }}
                </div>
              </div>
              {% csrf_token %}
              <div class="row templatemo-form-buttons">
                <div class="col-md-12">
                  <button type="submit" class="btn btn-primary">Salvar</button>
                  <button type="reset" class="btn btn-default">Limpar</button>
                </div>
              </div>
            </form>
            {{ form.error }}
          </div>
        </div>
          {% endblock 'area_form' %}
  