{% extends "onshop_auto/mesas.html" %}


{% block breadcrumb %}
<ol class="breadcrumb">
  <li><a href="{% url 'onshop_core:administrativo' %}">Painel Administrativo</a></li>
  <li><a class="active">Ver Mesas Abertas</a></li>
  <li><a href="sign-in.html">Sair</a></li>
</ol>
{% endblock breadcrumb %}



      {% block content_admin %}
          <h1>Mesas Abertas Autoatendimento</h1>
          <p class="margin-bottom-15">Gerencie as Mesas Abertas do estabelecimento aqui.</p>
          
          {% block 'area_form' %}
          <div class="row">
            <div class="col-md-12">
              <div class="btn-group pull-right" id="templatemo_sort_btn">
                <button type="button" class="btn btn-default">Ordenar por</button>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                  <span class="caret"></span>
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Categoria</a></li>
                  <li><a href="#">Preço</a></li>
                </ul>
              </div>
              <div class="table-responsive">
                <h4 class="margin-bottom-15">Mesa Aberta</h4>
                <table class="table table-striped table-hover table-bordered">
                  <thead>
                    <tr>
                      <th>Mesa</th>
                      <th>Código</th>
                      <th>Total</th>
                      <th>Status</th>
                      <th>Ação</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="{% cycle '' 'success' %}">
                      <td>{{ mesa.numero_mesa }}</td>
                      <td>{{ mesa.codigo_mesa.codigo }}</td>
                      <!-- <td>{{ pergunta.get_respostas }}</td>-->
                      <td>R$ {{ mesa.get_comanda_total }}</td>
                      <td>
                        {% for choice in mesa.STATUS_MESA %}
                          {% ifequal mesa.status choice.0 %}
                            {{ choice.1 }}
                          {% endifequal %}
                        {% endfor %}
                      </td>
                      
                      <td><a href="{% url 'onshop_auto:transferir_mesa_inteira' mesa.id %}"><button type="submit" class="btn btn-info">Transferir Mesa</button></a> <a target="blank" href="{% url 'onshop_auto:imprimir_cupom' mesa.get_comanda_id %}" class="btn btn-success">Imprimir Cupom</a> <a href="{% url 'onshop_auto:fechar_mesa' mesa.id %}" class="btn btn-default">Fechar Mesa</a> </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="table-responsive">
                <table class="table table-striped table-hover table-bordered">
                  <thead>
                    <tr>
                      <th>Produto</th>
                      <th>Quantidade</th>
                      <th>Observações</th>
                      <th>Cliente</th>
                      <th>Hora</th>
                      {% comment %}<th>Status</th>{% endcomment %}
                      <th>Preço</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="{% cycle '' 'success' %}">
                      <td>{{ pedido.produto }}</td>
                      <td>{{ pedido.quantidade }}</td>
                      <td>{{ pedido.complemento|safe }}</td>
                      <td>{{ pedido.comprador.nome }}</td>
                      <td>{{ pedido.hora_criacao|date:'H:i - d/m' }}</td>
                      {% comment %}<td>
                        {% for choice in pedido.pedido_atrelado.STATUS_PEDIDO %}
                          {% ifequal pedido.pedido_atrelado.status choice.0 %}
                            {{ choice.1 }}
                          {% endifequal %}
                        {% endfor %}
                      </td>{% endcomment %}
                      <td>R$ {{ pedido.total }}</td>
                    </tr>
                  </tbody>
                </table>
                <div class="col-md-12">
                  <form role="form" id="templatemo-preferences-form" method="post" enctype="multipart/form-data">
                    <div class="row">
                      <div class="col-md-12 margin-bottom-15">
                        <label for="{{ form.numero_mesa.id_for_label }}" class="control-label">Transferir para a Mesa:</label>
                        {{ form.numero_mesa }}
                        {{ form.numero_mesa.errors }}
                      </div>
                    </div>
                    {% csrf_token %}
                      <div class="row templatemo-form-buttons">
                        <div class="col-md-12">
                          <button type="submit" class="btn btn-primary">Transferir</button>
                        </div>
                      </div>
                  </form>
                </div>
              </div>
              <div class="row templatemo-form-buttons espaco_footer">
                <div class="col-md-12">
                  <a href="{% url 'onshop_auto:ver_detalhes_mesa_aberta' mesa.id %}"><button type="submit" class="btn btn-primary">Voltar</button></a>
                </div>
              </div>
          </div>
          {% endblock 'area_form' %}
        </div>
{% endblock content_admin %}
  