{% extends "onshop_core/index.html" %}

{% block content_admin %}
    <h2>Relatório por Produto</h2>

    <div class="col-3">
        <form method="GET">
            <span>Data: entre </span>
            <input type="date" name="date_template_min">
            <span>e</span>
            <input type="date" name="date_template_max">
            <button type="submit">Buscar</button>
        </form>
        {% for data_min, data_max in dataa %}
        {% if data_min is not None and data_min != '' and data_max is not None and data_max != ''%}
            <span>Data de pesquisa: entre {{data_min}} e {{data_max}}</span>
        {% else %}
            <span>Data de pesquisa: {{data_min}} </span>
        {% endif %}
        {%endfor%}
    </div>

    <table class="table container clearfix col-md-6 configdiv">
        <thead>
            <tr>
                <th scope="col">Quantidade</th>
                <th scope="col">Produto</th>
                <th scope="col">Total (R$)</th>
            </tr>
        </thead>
        <tbody>
            {% for produto, count, count_preco in lista %}
                <tr>
                    <td scope="row">{{count}}</td>
                    <td scope="row">{{produto.nome}}</td>
                    <td scope="row">{{count_preco}}</td>
                </tr>
            {%endfor%}
        </tbody>
    </table>
{% endblock content_admin %}